version: 2.1
jobs:
  docker-build-and-scan:
    docker:
#      - image: circleci/node:10.19.0-stretch
      - image: circleci/python:3.6
    working_directory: ~/build
    steps:
      - checkout
      - run: 'curl -k -u $TL_USER:$TL_PW --output ./twistcli $TL_CONSOLE/api/v1/util/twistcli'
      - run: 'chmod a+x ./twistcli'
      - setup_remote_docker:
          docker_layer_cacheing: true
      - run: 'docker build -t $MYREPO/myimage:01 .'
      - run: './twistcli images scan --details -address $TL_CONSOLE -u $TL_USER -p $TL_PW --vulnerability-threshold high --compliance-threshold high --only-fixed $MYREPO/myimage:01'
#      - run: 'mkdir -p workspace' 
#      - run: 'docker save $MYREPO/myimage:01 -o workspace/image.tar'
#      - run: 'docker load -i workspace/image.tar'
  docker-push:
    docker:
      - image: circleci/node:10.19.0-stretch
    working_directory: ~/build
    steps:
      - checkout
      - run: 'docker build -t $MYREPO/myimage:01 .'
      - run:
          name: Push Image
          command: |
            echo $DOCKER_PW | docker login --username $DOCKER_USER --password-stdin docker.io
            docker push docker.io/$MYREPO/myimage:01
workflows:
  build-scan-push:
    jobs:
      - docker-build-and-scan
      - docker-push:
          requires:
            - docker-build-and-scan

